body {
  margin: 0;
}


/******************************************************************************************************************************
Nav Bar
************************************************************************************************************************/
.navbar {
  display: flex;
  position: fixed;
  background-color: #000428ea;
  width: 100%;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
  margin-right: 10%;
  margin-bottom: 0;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-family: sans-serif;
  margin-right: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#orderBtn {
  background-color: #5401a1;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  border: none;
  border-radius: 10px;
}

.logo-image {
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding: 5px;
}

/******************************************************************************************************************************
Slider
************************************************************************************************************************/
#slider {
  width: 100%;
}

.slogan {
  background-image: url("../img/slider1.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align: center;
  width: 100%;
}

.slogan h1 {
  color: #f1f1f1;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.55px;
  margin-top: 60vh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.678);
  text-transform: capitalize;
}

/******************************************************************************************************************************
Why Us
************************************************************************************************************************/
.why-us-section-pc {
  width: 100%;
  margin-top: 30px;
}

.why-us-section-mobile {
  display: none;
}

.featured-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.featured-grid .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-us-img {
  width: 100%;
}

.sub-heading {
  font-size: 20px;
  font-weight: 550;
  font-family: sans-serif;
  display: inline;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #000428;
  padding: 10px 20px;
}

.why-us-list {
  margin-top: 12px;
}

.why-us-list li {
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px;
}

/******************************************************************************************************************************
About Us
************************************************************************************************************************/

.about-us-section-pc {
  margin-top: 30px;
  width: 100%;
}

.about-us-img {
  width: 100%;
}

.about-us-section-mobile {
  display: none;
}

.featured-grid .features .about-us-note {
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  padding: 0 10px;
  text-align: center;
  line-height: 20px;
}

/******************************************************************************************************************************
Services
************************************************************************************************************************/

.service-section-pc {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 75px;
}

.service-section-mobile {
  display: none;
}

.service-title {
  margin: auto;
}

.services-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
}

.service-img {
  width: 250px;
  margin: auto;
}

.service-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}

/******************************************************************************************************************************
Contacts
************************************************************************************************************************/

.contact-section {
  width: 100%;
  background-color: #000428;
  padding-top: 20px;
}

.contact-title {
  width: 80%;
  margin: auto;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000428;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
}

.contact-msg {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 20px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  margin-top: 30px;
}

.icon-img {
  font-size: 40px;
  color: #ffffff;
  padding: 10px;
}

.contact-grid .features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.contact-details {
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.contact-req {
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ffffff;
}

.mail-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.inputs {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.mail-section .msg-enter {
  height: 60px;
}

#submit-button {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  margin: auto;
  color: #ffffff;
  background-color: #000428;
  border: 3px #5401a1 solid;
}

#submit-button:hover {
  color: #ffffff;
  background-color: #5401a1;
}

/******************************************************************************************************************************
Social Media
************************************************************************************************************************/

.social-media-section {
  width: 100%;
  margin-top: 50px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.social-icon {
  font-size: 30px;
  color: #ffffff;
  margin: auto;
}

.fa-facebook:hover {
  font-size: 40px;
}

.fa-youtube:hover {
  font-size: 40px;
}

.fa-instagram:hover {
  font-size: 40px;
}

.fa-twitter:hover {
  font-size: 40px;
}

/******************************************************************************************************************************
Social Media
************************************************************************************************************************/
.footer-wrapper {
  height: 30px;
  background-color: #000213e0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer {
  color: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: capitalize;
  margin: auto;
}

/******************************************************************************************************************************
Responsive Part
************************************************************************************************************************/

@media (max-width: 900px) {
  #desktopNavBar {
    display: none;
  }
  .slogan {
    height: 50vh;
  }

  .slogan h1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25vh;
  }
}

@media (max-width: 768px) {

  .slogan{
    height: 50vh;
  }

  .mobile-grid{
    width: 80%;
    margin-bottom: 40px;
  }

  .service-label{
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .service-img {
    width: 150px;
    margin: auto;
  }

  .service-description{
    text-align: center;
    font-size: 14px;
    margin: auto
  }
  
  .sv-sections{
    height: 100%;
    padding: 10px;
  }

  .service-img {
    width: 200px;
    margin: auto;
  }

  .service-section-mobile .service-title {
    text-align: center;
    justify-content: center;
  }

  .service-label {
    margin-bottom: 0;
  }

  .sub-heading {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .featured-grid {
    grid-template-columns: 100%;
    width: 80%;
  }

  .contact-details {
    font-family: sans-serif;
    font-size: 11px;
    color: #ffffff;
  }

  .contact-req {
    font-size: 12px;
  }

  .mail-section {
    width: 50%;
  }

  .inputs {
    padding: 8px;
    margin-bottom: 8px;
  }

  .mail-section .msg-enter {
    height: 80px;
  }

  #submit-button {
    padding: 8px;
    margin-top: 8px;
    width: 80%;
  }

  .service-title {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
  }

  .about-us-section-mobile {
    display: block;
  }

  .about-us-section-pc {
    display: none;
  }
 
  .why-us-section-mobile {
    display: block;
  }

  .why-us-section-pc {
    display: none;
  }

  .why-us-img {
    width: 100%;
  }

  .why-us-list {
    font-size: 10px;
  }

  .about-us-img {
    width: 80%;
    margin-top: -10px;
  }

  .about-us-note {
    font-size: 10px;
    margin-top: -25px;
    margin-bottom: 60px;
  }

  .contact-grid {
    grid-template-columns: 100%;
  }

  .contact-req {
    max-width: 80%;
  }

  .icon-img {
    font-size: 20px;
    margin-top: 15px;
  }

  .contact-msg {
    font-size: 14px;
    padding: 0;
  }

  .footer {
    font-size: 10px;
  }

  .service-section-mobile {
    display: block;
  }

  .service-section-pc {
    display: none;
  }

  .about-us-section-mobile {
    display: block;
  }

  .featured-grid .features .about-us-note{
    margin-top: 15px;
  }
  
  .about-us-img {
    margin-top: 10px;
  }

  .m-service-img{
    margin: 0;
    width: 80%;
    justify-content: center;
  }

  .mail-section {
    width: 80%;
}
}